@import "_vars.scss";

.recipes-detail{
    background-color: $color-list;
    padding: 20px 0;
    

    .details{
    max-width: $max-width + 10px;
    height: 70%;
    margin: 0 auto;
    padding: 20px 0;

        div{
            display: inline-block;
            width: 350px;
            padding: 10px 10px 10px 10px;
            vertical-align: top;

            p{
                font-size: 22px;
            }
        }

        .ingredients{
            border-right: 1px solid black;
        }
    
        .preparation{
            width: 500px;
        }
            
        .detail{
            width: 100%;
            padding: 20px 10px;
            font-size: 30px;
        }

        .image{
            img{
            border-radius: 10px;
            }
        }
    }

}