$max-width: 1200px;

$font: 'Bree Serif', serif;

$color-header: #1E1E1E;
//$color-categories-background: #3F3F46;
$color-categories-background: #E0E0E0;
$color-categories: #30F2F2;
$color-list: #E0E0E0;
$color-footer: #2D2D30;
$color-font: #E0E0E0;
$color-button: #014B84;
$color-button-clicked: red;

