@import "_vars.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $color-font;
    box-sizing: border-box; 
}

@import "_detail.scss";

.menu-background {
    padding: 10px 0 10px 0;
    background-color: $color-header;

    .menu{
        max-width: $max-width;
        margin: 0 auto;

        a{
            display: inline-block;
            width: $max-width / 5;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
        }

        .logo{
            font-size: 34px;
        }

        .search{
            padding: 5px;
            border-radius: 5px 5px 5px 5px;
            color: black;
        }
    }
}

.categories-background {
    background-color: $color-categories-background;
    padding: 20px 0;

    .categories{
        max-width: $max-width / 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container{
        padding: 10px;
        border-bottom: 2px solid $color-header;
        border-top: 2px solid $color-header;
    
        .button {
            display: inline-block;
            padding: 0 10px;
            font-size: 16px;
            width: auto;
            font-family: $font;
            border: 6px solid $color-button;
            border-radius: 20px;
            background-color: $color-button;
            }
    }
}

.list-background{
    background-color: $color-list;
    padding: 20px 0;

    .recipes-list{
        max-width: $max-width + 10px;
        margin: 0 auto;
    }

    .recipe{
    display: inline-block;
    max-width: $max-width / 4;
    padding: 10px 10px 10px 10px;

        a{
            color: black;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
        }
        img{
            border-radius: 10px;
        }
    }
    
}

footer{
    background-color: $color-footer;
    margin-top: auto;

    .foot{
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            display: inline-block;
            width: $max-width / 3 - 5;
        }
    }

}
