* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
  color: #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recipes-detail {
  background-color: #E0E0E0;
  padding: 20px 0;
}

.recipes-detail .details {
  max-width: 1210px;
  height: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.recipes-detail .details div {
  display: inline-block;
  width: 350px;
  padding: 10px 10px 10px 10px;
  vertical-align: top;
}

.recipes-detail .details div p {
  font-size: 22px;
}

.recipes-detail .details .ingredients {
  border-right: 1px solid black;
}

.recipes-detail .details .preparation {
  width: 500px;
}

.recipes-detail .details .detail {
  width: 100%;
  padding: 20px 10px;
  font-size: 30px;
}

.recipes-detail .details .image img {
  border-radius: 10px;
}

.menu-background {
  padding: 10px 0 10px 0;
  background-color: #1E1E1E;
}

.menu-background .menu {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-background .menu a {
  display: inline-block;
  width: 240px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.menu-background .menu .logo {
  font-size: 34px;
}

.menu-background .menu .search {
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  color: black;
}

.categories-background {
  background-color: #E0E0E0;
  padding: 20px 0;
}

.categories-background .categories {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories-background .button-container {
  padding: 10px;
  border-bottom: 2px solid #1E1E1E;
  border-top: 2px solid #1E1E1E;
}

.categories-background .button-container .button {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  width: auto;
  font-family: "Bree Serif", serif;
  border: 6px solid #014B84;
  border-radius: 20px;
  background-color: #014B84;
}

.list-background {
  background-color: #E0E0E0;
  padding: 20px 0;
}

.list-background .recipes-list {
  max-width: 1210px;
  margin: 0 auto;
}

.list-background .recipe {
  display: inline-block;
  max-width: 300px;
  padding: 10px 10px 10px 10px;
}

.list-background .recipe a {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.list-background .recipe img {
  border-radius: 10px;
}

footer {
  background-color: #2D2D30;
  margin-top: auto;
}

footer .foot {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot div {
  display: inline-block;
  width: 395px;
}
/*# sourceMappingURL=recipes.css.map */