{% load static %}

<html lang="pl">
    <head>
        <title>Recipes</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <section class="menu-background">
                    <nav class="menu">
                        <a class="logo" href="{% url 'recipes:recipes_list' %}">Recipes Logo</a>
                        <a href="{% url 'recipes:recipes_list' %}">Recipes</a>
                        <a href="{% url 'blog:post_list' %}">Blog</a>
                        <a href="">O mnie</a></li>
                        <input type="text" placeholder="Search.." class="search">
                    </nav>
                </section>
            </header>
                {% block content %}
                {% endblock %}
            <footer>
                <div class="foot">
                    <div class="image"><img width="150px" height="200px" src="/media/images/fomo.jpeg" alt=""></div>
                    <div class="contact">
                        <a class="logo" href="{% url 'recipes:recipes_list' %}">Recipes Logo</a>
                        <p>Tomasz Steckiewicz</p>
                        <p>tomsteckiewicz@gmail.com</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
