{% extends 'recipes/base.html' %}

{% block content %}

<section class="categories-background">
    <nav class="categories">
        {% for cat in categories %}
        <!-- <form action="POST" method="POST">
            <div class="button-container">
                <span class="button">
                    <input class="input" type="checkbox" {% if cat.name == 'All' %} checked="checked" {% endif %} id="{{ cat }}" name="cat">
                    <label for="{{ cat }}">{{ cat }}</label>
                </span>
            </div>
        </form> -->
        <div class="button-container">
            <form method="POST">{% csrf_token %}
                <button name="{{ cat.pk }}" class="button">{{ cat }}</button>
            </form>
        </div>
        {% endfor %}
    </nav>
</section>
<section class="list-background">
        <nav class="recipes-list">
            {% for recipe in recipes %}
                <div class="recipe">
                    <a href="{% url 'recipes:recipe_detail' pk=recipe.pk %}">
                        <img width="280px" height="280px"src={{ recipe.image.url }} alt={{ recipe.title }}>
                    </a>
                    <a href="{% url 'recipes:recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
                </div>
            {% endfor %}
            </nav>
</section>
{% endblock %}