{% extends 'recipes/base.html' %}

{% block content %}
        <section class="recipes-detail">
        <div class="details">
                
                <div class="detail">
                        <h1>{{ recipe.title }}</h1>
                </div>
                <div class="ingredients">
                        <h2>Ingredients</h2>
                    <p>{{ recipe.ingredients|linebreaksbr }}</p>
                </div>
                <div class="preparation">
                        <h2>Preparation</h2>
                    <p>{{ recipe.text }}</p>
                </div>
                <div class="image">
                        <img width="280px" height="280px"src={{ recipe.image.url }} alt={{ recipe.title }}>
                </div>
        </div>
        </section>
{% endblock %}
