body {
    background-color: #6C747F;
    max-width: 720px;
    margin: 0 auto;
}

.page-header {
    width: 100%;
    display: block;
    background-color: #445060;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 0px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 0px;
}
.row {
    widows: 100%;
}
.col-md-8 {
    widows: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', cursive;
}

.date {
    text-align: justify;
    color: #313E50;
    float: right;
    display: block;
    font-size: 12px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    width: 15%;
    text-decoration: none;
}

.post {
    color: #000000;
    width: 95%;
    display: block;
    margin-bottom: 30px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.post h2 a, .post h1 a:visited {
    color: #000000;
    text-align: justify;
    text-decoration: none;
}
